/* body tag */
body{
    /* Google Fonts: Ubuntu */
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

/* Cover Page ID */
#cover-page{
    background-image: url(/images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
}

/* Cover Section Text ID */
.cover-text{
    display: flex;
}

/* Cover Section H1 Tag Spane 1 color */
#spn-color1{
    color:orange
}

/* Cover Section H1 Tag Spane 2 color */
#spn-color2{
    color:orange
}

/* Cover Section H1 tag */
#cover-text-top {
    color: white;
    font-size: 70px;
    text-align: center;
    display: block;
    font-size: 60px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}

/* Cover Section P tag  */
#cover-text-par {
    color: white;
    font-size: 18px;
    text-align: center;
    display: block;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 50px;
}

/* Button  */
.donate-btn{
    text-decoration: none;
    color: white;
    background-color: tomato;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50%;
    border-radius: 5px;
}


.donation{
    text-align: center;
    margin-top: 100px;
}

.amount{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.button {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button2 {
    background-color: white; 
    color: tomato; 
    border: 2px solid tomato;
  }

  .input-line{
    margin: 10px;
  }